@font-face {
    font-family: 'Overseer';
    font-weight: 400;
    src: url('./fonts/Overseer.otf') format('opentype');
}

@font-face {
    font-family: 'Overseer';
    font-weight: 400;
    font-style: italic;
    src: url('./fonts/Overseer-Italic.otf') format('opentype');
    }

@font-face {
    font-family: 'Overseer';
    font-weight: 700;
    src: url('./fonts/Overseer-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Overseer';
    font-weight: 700;
    font-style: italic;
    src: url('./fonts/Overseer-Bold-Italic.otf') format('opentype');
}